logs
server.pass.key
appweb/dist
/.idea
/.idea/libraries
/.idea/misc.xml
/.idea/play2_project_settings.xml
/.idea/play2_settings.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules
.DS_Store
*.log
/bin/
.vscode/
project/project/
appweb/.idea/
/FFDC
mqjms*
*.pdf
package-lock.json.1733156986
package-lock.json.3222459686
project/boot

logs
target
appweb/dist
/.idea
/.idea/libraries
/.idea/misc.xml
/.idea/play2_project_settings.xml
/.idea/play2_settings.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules
.DS_Store
*.log
/bin/
.vscode/
project/project/
appweb/.idea/
/FFDC
mqjms*
*.pdf
